<div>&nbsp;</div>
<div class="row">
    <div class="col-md-4">
        <label for="tailleIncrement">Taille increment</label><input type="number" id="tailleIncrement" class="form-control" ng-model="tailleIncrement">
    </div>
    <div class="col-md-4">
        <label for="limiteMin">Limite min</label><input type="number" id="limiteMin" class="form-control" ng-model="limiteMin">
    </div>
    <div class="col-md-4">
        <label for="limiteMax">Limite max</label><input type="number" id="limiteMax" class="form-control" ng-model="limiteMax">
    </div>
</div>
<div>&nbsp;</div>
<button class="btn btn-primary button" ng-click="saveParams()">Enregistrer</button>